body{
     background-color: lightcoral;
    text-align: center;
}
h1{
    color: rgb(107,3,3);
}
h2{
    color: rgb(107,3,3);
}
h3{
    color: rgb(107,3,3);
}
h4{
    color: rgb(107,3,3);
}
h5{
    color: rgb(107,3,3);
}
h6{
    color:rgb(107,3,3);
}

p{
    color:rgb(107,3,3);
}
.imagem{
    width: 15%;
}
il{
    color: rgb(107,3,3);
}