body{
    background-color: lightcoral;
    text-align: center;
}
h1{
    color:rgb(107, 3, 3);
}

h2{
    color:rgb(107, 3, 3);
    font-size: large;
    font-style: italic;  
}
.imagem{
    width:30%;
}
h3{
    color:rgb(107, 3, 3);
}
p{
    color:rgb(107,3,3)
}
li{
    color:rgb(107,3,3);
}
ul{
    color:rgb(107,3,3);
}
.imagem{
    width: 10%;
}
.imagem{
    width: 10%;
}
.imagem{
    width: 10%;
}